#txt404{
	text-align: center;
	font-size: 100px;
	font-family: Impact;
	color:#636363;
}

img{
	transform: scale(0.77);
	margin-top:-130px;
}

/* J'aime les pommes, vous aimez les pommes ? Voici un pomme :
/* Une moitée de pommes



/* Une autre moitié de pomme


/* C'est pour limiter le poids des requetes
